<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ISRA TRAVELS hotels</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type='text/css'>
    <link rel="stylesheet" href="style.css" type='text/css'>
</head>
<body>
	<!--Header Area-->
	<div th:replace="fragments.html :: header"></div>
	<!--Header Area End-->
	
	<!--Form Area Start-->
	<div class="container-fluid add-form">
		<form method="POST" th:action="@{/hotels}" th:object="${hotel}">
		  <div class="form-row">
		    <div class="form-group col-md-6">
		      <label >Hotel Name</label>
		      <input th:field="${hotel.hotelName}" type="text" class="form-control" placeholder="Enter Country for which this is...">
		    </div>
		    <div class="form-group col-md-6">
		      <label >Hotel City</label>
		      <select th:field="${hotel.hotelCity}" class="form-control form-control-sm">
		      	<option value="hotelCity">Select hotel City</option>
  				<option value="MAKKAH">MAKKAH</option>
  				<option value="MEDINA">MEDINA</option>
			</select>
		    </div>
		  </div>
		  <div class="form-group col-md-6">
		    <label >Hotel Distance</label>
		    <input th:field="${hotel.hotelDistance}" type="number" class="form-control" placeholder="Please Enter the hotel distance in meters">
		  </div>
		  <div class="form-group col-md-6">
		    <label >Hotel Category</label>
		    <select th:field="${hotel.hotelCategory}" class="form-control form-control-sm">
		    	<option value="hotelCategory">Select hotel Category</option>
  				<option value="ECONOMY">Economy</option>
  				<option value="STANDARD">Standard</option>
  				<option value="04-STAR">04-STAR</option>
  				<option value="05-STAR">05-STAR</option>
			</select>
		  </div>
		  <div class="form-row">
		    <div class="form-group col-md-6">
		    	<label >Hotel Sharing Room Price</label>
		    	<input th:field="${hotel.hotelRoomSharingPrice}" type="number" class="form-control" placeholder="Please Enter the Sharing room price..">
		    </div>
		    <div class="form-group col-md-6">
		    	<label >Hotel Quad Room Price</label>
		    	<input th:field="${hotel.hotelRoomQuadPrice}" type="number" class="form-control" placeholder="Please Enter the Quad room price..">
		    </div>
		    <div class="form-group col-md-6">
		    	<label >Hotel Triple Room Price</label>
		    	<input th:field="${hotel.hotelRoomTriplePrice}" type="number" class="form-control" placeholder="Please Enter the Triple room price..">
		    </div>
		    <div class="form-group col-md-6">
		    	<label >Hotel Double Room Price</label>
		    	<input th:field="${hotel.hotelRoomDoublePrice}" type="number" class="form-control" placeholder="Please Enter the Double room price..">
		    </div>
		  </div>  
		  <div class="form-group col-md-6">
		  	<input type="submit"class="btn btn-success" value="Save Details" >
		  </div>
		</form>
	</div>
	<!--Form Area End-->
	
	<!--Footer-->
	<div th:replace="fragments.html :: footer"></div>
	<!--Footer End-->
	
	<!-- Scripts -->
	<span th:replace="fragments.html :: scripts"></span>
    <!-- Scripts -->
</body>
</html>    