<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ISRA TRAVELS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type='text/css'>
    <link rel="stylesheet" href="style.css" type='text/css'>
</head>
<body>
	<!--Header Area-->
	<div th:replace="fragments.html :: header"></div>
	<!--Header Area End-->

	<!-- Background img-->
	<div class="banner">
		<img src="img/img18.jpg" alt="" class="img">
	</div>
	<!--Background img End-->


	<!-- Services-->
	<div class="SERVICES">
		<section class="services-section">
			<div class="inner-width">
				<h1>
					Our <strong>Services</strong>
				</h1>
				<div class="services owl-carousel">

					<div class="service">
						<div class="service-icon">
							<i class="fas fa-paint-brush"></i>
						</div>
						<div class="service-name">Service</div>
						<div class="service-desc">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Alias aperiam nesciunt similique!</div>
					</div>

					<div class="service">
						<div class="service-icon">
							<i class="fas fa-pencil-alt"></i>
						</div>
						<div class="service-name">Service</div>
						<div class="service-desc">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Alias aperiam nesciunt similique!</div>
					</div>

					<div class="service">
						<div class="service-icon">
							<i class="fas fa-code"></i>
						</div>
						<div class="service-name">Service</div>
						<div class="service-desc">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Alias aperiam nesciunt similique!</div>
					</div>

					<div class="service">
						<div class="service-icon">
							<i class="fas fa-database"></i>
						</div>
						<div class="service-name">Service</div>
						<div class="service-desc">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Alias aperiam nesciunt similique!</div>
					</div>

					<div class="service">
						<div class="service-icon">
							<i class="fas fa-headset"></i>
						</div>
						<div class="service-name">Service</div>
						<div class="service-desc">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Alias aperiam nesciunt similique!</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- <div class="Services-section">
    <div class="inner-width">
      <h1 class="section-title">Our Services</h1>
      <div class="border"></div>
      <div class="services-container">
          <div class="service-box">
              <div class="service-icon">
                  <i class="fa fa-search"></i>
              </div>
              <h4 class="service-title">web designing</h4>
              <div class="service-desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>
          </div>
          <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-search"></i>
            </div>
            <h4 class="service-title">web designing</h4>
            <div class="service-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
        <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-search"></i>
            </div>
            <h4 class="service-title">web designing</h4>
            <div class="service-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
        <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-search"></i>
            </div>
            <h4 class="service-title">web designing</h4>
            <div class="service-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
      </div>

    </div>
</div> -->
	<!--Services End-->
	<!-- Gallery-->
	<!--
<div class="gallery">
    <h1>OUR <strong>GALLERY </strong></h1>
    <ul class="honeycomb">
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/image6.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/image7.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/img14.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/img15.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/img16.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/image3.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/img18.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/img16.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/image3.jpg">
        </li>
        <li class="honeycomb-cell">
            <img class="honeycomb-cell_img" src="img/img18.jpg">
        </li>
        <li class="honeycomb-cell honeycomb_Hidden">
        </li>
    </ul>
</div>
-->
	<!--Gallery End-->

	<!-- Quotes-->
	<!-- <div class="quotes">
    <div class="inner-width">
        <div class="col-lg-6">
            <ul>
                <li>
                    <h2>HAJJ_QUOTES</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maiores dolorem voluptates neque facilis quae, facere, ipsum accusantium tenetur deserunt dolor veritatis similique praesentium iure mollitia cumque doloribus earum ut?
                    </p>
                </li>
                <li>
                    <h2>HAJJ_QUOTES</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maiores dolorem voluptates neque facilis quae, facere, ipsum accusantium tenetur deserunt dolor veritatis similique praesentium iure mollitia cumque doloribus earum ut?
                    </p>
                </li>
                <li>
                    <h2>HAJJ_QUOTES</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi maiores dolorem voluptates neque facilis quae, facere, ipsum accusantium tenetur deserunt dolor veritatis similique praesentium iure mollitia cumque doloribus earum ut?
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">

        </div>

    </div>
</div>  -->
	<section id="quotes">

		<div class="diagonal"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div id="box">
						<div id="outer">
							<div id="inner">
								<div class="content-title">
									<span><i class="fa fa-arrow-right fa-lg"></i></span>
									<h1>
										Hajj <strong>Quotes</strong>
									</h1>
									<div class="underline"></div>
								</div>
								<div id="desc">
									<ul>
										<li>
											<p>Lorem, ipsum dolor sit amet consectetur adipisicing
												elit.</p>
										</li>
										<li>
											<p>Lorem, ipsum dolor sit amet consectetur adipisicing
												elit.</p>
										</li>
										<li>
											<p>Lorem, ipsum dolor sit amet consectetur adipisicing
												elit.</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--Quotes End-->

	<!-- About Us-->
	<div class="About">
		<div class="inner-width">
			<div class="row">
				<div class="col-lg-6">
					<div class="pic">
						<img src="img/image2.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="text">
						<!-- <h1>Few Words About Us</h1> -->
						<p>
							<b>AL_ISRA TRAVELS</b> Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Hic, blanditiis. Totam, exercitationem quisquam
							adipisci soluta fugiat corporis ipsam natus animi explicabo sed
							dignissimos, sunt labore quia magnam veritatis ut! Ea. Lorem
							ipsum dolor sit amet consectetur adipisicing elit. Voluptas error
							iusto nihil aut. Ut quas nihil dicta hic libero repellat nobis
							iure sed veritatis. Eveniet dolor iure ab quibusdam autem? Lorem
							ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
							rem corrupti ipsum quas quibusdam dignissimos dolore cum
							molestias quam. Eum fugit, suscipit dolorem atque ut dolore
							voluptatem deleniti odit velit.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--About Us End-->
	
	<!--Footer-->
	<div th:replace="fragments.html :: footer"></div>
	<!--Footer End-->
	
	<!-- Scripts -->
	<span th:replace="fragments.html :: scripts"></span>
    <!-- Scripts -->
</body>
</html>
