<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Display Event</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"	rel="stylesheet">
<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body class="container">
	<nav th:replace="fragments :: navbar"></nav>
	<H3 th:unless="${events} and ${events.size()}" style="color:red;">No Events To Display!!!</H3>
	<p th:text="${title}" style="color:green;">
	
	<table class=" table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Contact Email</th>
				<th>Category</th>
			</tr>
		</thead>
		<tr th:each=" event: ${events}">
			<td th:text="${event.Id}"></td>
			<td th:text="${event.name}"></td>
			<td th:text="${event.description}"></td>
			<td th:text="${event.contactEmail}"></td>
			<td th:text="${event.eventCategory.name}"></td>
		</tr>
	</table>			

</body>
</html>

