<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PortFolio</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"	rel="stylesheet">
<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	<nav th:replace="fragments :: navbar"></nav>
	<div class="space">
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
		<h1>In PortFolio</h1>
	</div>
</body>
</html>